python-dateutil==1.5
pandas==0.7.3
thrift==0.8.0
pycassa==1.5.1
pycrypto==2.6
pika==0.9.6
eventlet>=0.9.17
kombu>=1.0.4
lxml>=2.3
routes>=1.12.3
WebOb==1.2.3
greenlet>=0.3.1
PasteDeploy>=1.5.0
paste
ldap
gflags
netaddr
memcache
numpy
mysqldb
boto
six
iso8601
